.footer {
    background-color: #182951;
    color: white;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    margin-right: 40px;
}

.right {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}

.left {
    max-width: 50%;
    flex-wrap: wrap;
    display: flex;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

/* .footer-logos {
    display: flex;
    flex-direction: column;  Stack items vertically 
    align-items: center;
    gap: 10px;  Space between logo row and logo-mtss 
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-row {
    display: flex;
    justify-content: center;
    gap: 10px;  Space between logo-ess and logo-cepal 
} */

/* Specific logo-ess adjustments  */
.logo-ess {
    max-width: 200px; /* Width restriction for ESS and BRETE logos */
    transform: scale(1.0); /* keeps the size */
    max-height: 200px;
}

.logo-brete {
    max-width: 200px; /* Width restriction for ESS and BRETE logos */
    transform: scale(0.8); /* Reduces the size */
}

/* Optional adjustments for logo-mtss */
.logo-mtss {
    max-width: 200px; /* Adjust size as needed for logo-mtss */
}

@media screen and (max-width: 768px) {
    .footer{
        display:block;
    }
    .left, .right{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-section{
        margin-left: 40px;
    }
  }