/* styles.css */

/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Fondo gris claro */
}

/* Contenedor gris de toda la página */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

/* Contenedor blanco para cada sección */
.content-wrapper {
    background-color: white; /* Fondo blanco */
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de tarjeta */
}

@font-face {
    font-family: 'Henderson Sans Basic Bold';
    src: url('Fonts/Henderson\ Sans\ Basic\ Bold.ttf') format ('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Henderson Sans Basic Light';
    src: url('Fonts/Henderson\ Sans\ Basic\ Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Henderson Sans Basic SemiBd';
    src: url('Fonts/Henderson\ Sans\ Basic\ SemiBd.ttf') format('truetype');
    font-weight: normal;
}