.footer {
    background-color: #182951;
    color: white;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    margin-right: 40px;
}

.right {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}

.left {
    max-width: 50%;
    flex-wrap: wrap;
    display: flex;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-logos {
    padding: 30px 0;
}

.logo-dess {
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .footer{
        display:block;
    }
    .left, .right{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-section{
        margin-left: 40px;
    }
  }