/* styles.css */

/* General */
body {
    background-color: #ffffff; /* Fondo gris claro */
}

/* Contenedor gris de toda la página */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenedor blanco para cada sección */
.content-wrapper {
    background-color: white; /* Fondo blanco */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de tarjeta */
}