html {
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #182951;
  font-size: 14px;
}

h1 {
  font-family: "Henderson-Bold";
}

h2,
h3 {
  font-family: "Henderson-Semibd";
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

button {
  color: inherit;
  font-family: inherit;
  text-transform: none;
  cursor: pointer;
  padding-block: 1px;
  padding-inline: 6px;
  overflow: visible;
}

.btn {
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-style: "Hender";
  color: #fff;
  background-color: #182951;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: all 0.5sease 0s;
  -webkit-transition: all 0.5sease 0s;
}

p {
  text-align: justify;
  font-family: "Henderson-Light";
}

.extremes {
  height: 155.33px;
}

.color-palette {
  color: #182951;
  color: #0034a0;
  color: #cfac65;
  color: #f2dab1;
  color: #ffffff;
  color: #c1c5c8;
}

.App-link {
  color: #61dafb;
  @font-face {
    font-family: "Henderson-Light";
    src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-Light.ttf");
  }
}

@media screen and (max-width: 768px) {
  .extremes {
    height: 60px;
  }
}

/* @media screen and (max-width: 768px) {
  .App{
    insert global change
  }
} */

.color-palette {
  color: #182951;
  color: #0034a0;
  color: #cfac65;
  color: #f2dab1;
  color: #ffffff;
  color: #c1c5c8;
  color: #006a9a;
}

@font-face {
  font-family: "Henderson-Light";
  src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-Light.ttf");
}

@font-face {
  font-family: "Henderson-Bold";
  src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-Bold.ttf");
}

@font-face {
  font-family: "Henderson-SemiBd";
  src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-SemiBd.ttf");
}

.App {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
