h1 {
  font-family: "Henderson-Bold";
}

h2 {
  font-family: "Henderson-Semibd";
}

p {
  text-align: justify;
  font-family: "Henderson-Light";
}

.color-palette {
  color: #182951;
  color: #0034a0;
  color: #cfac65;
  color: #f2dab1;
  color: #ffffff;
  color: #c1c5c8;
}

.App-link {
  color: #61dafb;
  @font-face {
    font-family: "Henderson-Light";
    src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-Light.ttf");
  }
}

@font-face {
  font-family: "Henderson-Bold";
  src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-Bold.ttf");
}

@font-face {
  font-family: "Henderson-SemiBd";
  src: url("./assets/Fonts/HendersonSans/Henderson-Sans-Basic-SemiBd.ttf");
}
